*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: Georgia, 'Times New Roman', Times, serif;
}
 
/* navbar */

#navbar{
  background: #384267;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding: 2.3em;
  color: rgb(248, 243, 243);
  letter-spacing: 2px;
}

#site-name{
  display: flex;
}

#site-name h1{
  margin: .325em 0em 0em 1em ;
}

#site-name img{
  margin: 0em;
}

#menu{
  display: flex;
}

.links{
  color: rgb(248, 243, 243);
  text-decoration: none;
}

.links:hover{
  text-decoration: underline;
}

#menu p{
  margin: 0.5em 1em 0em 1em;
  font-size: 1.5em;
}

/* intro/flowchart */

#intro{
  background: white;
  width: 100%;
  height: 23em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: #384267;
  font-size: 2em;
}

#intro-text{
  width: 100%;
  margin: 3em 1em 3em 3em;
}

#intro-text h1{
  font-size: 1.5em;
  margin-bottom: .5em;
}

#flow-chart{
  width: 200%;
}

/* products */

#products-title{
  background-color: rgb(248, 243, 243);
  display: flex;
  flex-direction: column;
}

#products-title h1{
  align-self: center;
  margin: 1em;
}

#products-div{
  display: flex;
  flex-direction: row;
  background-color: rgb(248, 243, 243);
}

#filter-menu{
  margin-left: 2em;
  border-radius: 20px;
  border: red solid 2px;
  width: 15vw;
  height: 30em;
  display: flex;
  flex-direction: column;
}

#filter-menu h1{
  align-self: center;
  padding-top: .3em;
  padding-bottom: .3em;
}

#category-li{
  border-top: 1px solid #384267;
  border-bottom: 1px solid #384267;
  padding: 1em 0em 1em 0em;
  margin: 0em 1em 0em 1em;
  display: flex;
  flex-direction: column;
}

#category-li h3{
  align-self: center;
}

#category-li p{
  margin: 1em 0em 1em 0em;
  cursor: pointer;
  border: red solid 2px;
  padding-right: 0;
  width: 8.5vw;
}

#price{
  display: flex;
  flex-direction: column;
}

#price h3{
  align-self: center;
}

#slider{
  margin: 3em 2em 0em 2em
}

#grid-menu{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  border: 2px solid green;
  border-radius: 20px;
  background-color: rgb(248, 243, 243);
}

.product-card{
  margin: 1em;
  height: 19em;
  width: 19em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#product-img{
  width: 15em;
  height: 15em;
  object-fit: contain;
  margin-bottom: .5em;
}

#product-details{
  display: flex;
  flex-direction: row;
  margin-bottom: 2em;
}

#product-details h2{
  font-size: 1.2em;
}


/* product page */

#product-page-div{
  display: flex;
  padding: 2em;
}

#top-product-page{
  background-color: #384267;
}

#product-page-inner{
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5em;
  padding: 4em;
  background-color: whitesmoke;
}

#product-images{
  display: flex;
  flex-direction: column;
}

.change-image{
  height: 4em;
  width: 4em;
  margin: .5em;
  cursor: pointer;
}

#shown-image{
  border: black solid 1px;
  background-color: white;
  padding: 2em;
  width: 30vw;
  height: 25em;
  object-fit: contain;
  margin: 2em 0em 0em 2em;
  border-radius: 10px;
}


#product-page-details{
  padding: 3em;
  color: black;
  font-size: large;
  letter-spacing: 0.5px;
}

#product-page-details h2{
  text-decoration: underline;
}

#product-page-details h3{
  color: rgb(1, 137, 1);
  margin-top: .5em;
}

#product-page-details > *{
  margin: .2em;
}

#item-description{
  margin-top: 1.5em;
  letter-spacing: 0.5px;
}

#item-description > :last-child{
  margin-top: 1em;
  text-decoration: underline;
  font-weight: bold;
}

#cart-menu{
  display: flex;
  flex-direction: column;
  border: #384267 solid 2px;
  border-radius: 5px;
  padding: 8em 4em 8em 4em;
  letter-spacing: 1px;
  width: 25%;
  height: 50vh;
  justify-content: center;
  background-color: rgb(248, 243, 243);
  margin-left: 2em;
}

#product-page-links{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1.5em;
}

.pp-links{
  margin: .5em;
}

#first-p{
  margin-bottom: 1em;
  border-bottom: black solid 1px;
  padding-bottom: .5em;
}

#cart-menu h4{
  margin-bottom: 1em;
  color: rgb(1, 137, 1);
  font-size: large;
}

#cart-menu-btn{
  width: 13em;
  padding: .5em 1em .5em 1em;
  color: whitesmoke;
  font-size: 1em;
  border: 2px #384267 solid;
  border-radius: 20px;
  background: #384267;
  margin-bottom: 1em;
  cursor: pointer;
  align-self: center;
}

#cart-menu-btn:hover{
  background: rgba(228,90,90,255);
  border: 2px rgba(228,90,90,255) solid;
  transition: linear .2s;
}

#order-placed-btn{
  width: 13em;
  padding: .5em 1em .5em 1em;
  color: rgba(228,90,90,255);
  font-size: 1em;
  border: 2px rgba(228,90,90,255) solid;
  border-radius: 20px;
  background-color: whitesmoke;
  margin-bottom: 1em;
  cursor: pointer;
  align-self: center;
  font-weight: 700;
}

/* checkout page */

#checkout-div{
  display: flex;
  padding: 5em;
}

#product-checkout{
  border: whitesmoke solid 2px;
  border-radius: 10px;
  width: 55vw;
  display: flex;
  padding: 2em;
  margin: 2em;
  background-color: whitesmoke;
}

#product-checkout img {
  width: 17em;
  height: 15em;
  padding: 2em;
}

#product-checkout h4{
  margin-top: .5em;
  margin-bottom: .5em;
  font-size: 1.3em;
}

#product-flex-column{
  display: flex;
  flex-direction: column;
  padding: 1em;
  background-color: #384267;
  border: 5px solid #384267;
  border-radius: 10px;
}

#product-details-checkout{
  border-top: gray 2px solid;
  border-bottom: gray 2px solid;
  width: 60%;
  margin-left: 1em;
  padding-top: 4em;
}

#control-quantity{
  display: flex;
  font-size: 1.3em;
}

#checkout-menu{
  display: flex;
  flex-direction: column;
  border: #384267 solid 2px;
  justify-self: center;
  position: fixed;
  right: 90px;
  border-radius: 10px;
  letter-spacing: 1px;
  align-items: center;
  justify-content: center;
  padding-bottom: 2em;
  width: 25%;
  height: 55vh;
  font-size: 1.1em;
  background-color: rgb(248, 243, 243);
}

#remove-cart{
  color: rgb(149, 0, 0);
  background: none;
  padding: .8em;
  border: rgb(104, 104, 104) 1px solid;
  border-radius: 10px;
  font-weight: bold;
  font-size: 1em;
  cursor: pointer;
  margin-left: auto;
  margin-right: 3em;
}

#remove-cart:hover{
  background-color: rgba(128, 128, 128, 0.256);
  transition: ease-in-out 100ms;
}

#price-remove{
  display: flex;
  flex-direction: row;
  margin-top: .5em;
  margin-bottom: .5em;
}

#price-remove h4{
  margin: 0;
  color: rgb(0, 98, 0);
}

#product-quantity{
  font-weight: bold;
}

.change-quantity{
 margin-left: .5em;
 margin-right: .5em;
 padding-left: .5em;
 padding-right: .5em;
 font-size: 1em;
 background-color: none;
 border: gray 1px solid;
 border-radius: 5px;
 cursor: pointer;
}

.change-quantity:hover{
  background-color: rgba(128, 128, 128, 0.256);
  transition: ease-in-out 100ms;
}

.change-quantity:active{
  background-color: rgba(47, 47, 47, 0.256);
}

#checkout-menu-details{
  display: flex;
  flex-direction: column;
}

#checkout-menu-details p{
  margin: .3em;
}

#discount{
  color: rgb(149, 0, 0);
}

#place-order{
  width: 13em;
  padding: .5em 1em .5em 1em;
  color: whitesmoke;
  font-size: 1em;
  border: 2px #384267 solid;
  border-radius: 20px;
  background: #384267;
  margin-top: 1em;
  cursor: pointer;
}

.fa {
  margin-left: -12px;
  margin-right: 8px;
}

#order-placed-div{
  border: 2px solid;
  height: 88vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: whitesmoke;
}



#order-placed-details{
  border: green solid 2px;
  border-radius: 10px;
  padding: 4em;
  font-size: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#order-placed-details > *{
  margin: .5em;
}

/* shopping cart button  */

.shopping-cart-button {
  padding: 1.2em;
  background-color: whitesmoke;
  border: whitesmoke 8px solid;
  border-radius: 80px;
  cursor: pointer;
  color: black;
  position: fixed;
  margin-left: 4em;
  margin-bottom: 4em;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: row;
}

.shopping-cart-button img{
  height: 2.3em;
}

.shopping-cart-button span{
  font-size: 2em;
  margin-left: .5em;
}

.shopping-cart-button:hover {
  background-color: rgb(210, 209, 209);
  border: 8px solid rgb(210, 209, 209);
}

#empty-cart{
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
}

#empty-cart > *{
  margin: 1em;
}

/* pop up menu */

#blurred-bg{
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  right: 0;
  backdrop-filter: blur(10px) brightness(20%);
  display: flex;
}

#pop-up-cart{
  border: whitesmoke 2px solid;
  background-color: whitesmoke;
  border-radius: 10px;
  width: 28vw;
  height: 85vh;
  margin-right: auto;
  overflow: scroll;
}

#pop-up-prods{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#pop-up-empty{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10em;
  font-size: 2em;
}

#pop-up-product{
  border: #384267 solid 1px;
  display: flex;
  margin: .5em 0em .5em 0em;
  width: 26vw;
}

#pop-up-cart img{
  width: 10em;
  height: 8em;
}

#pop-up-details{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 1em;
  letter-spacing: .8px;
  font-size: 1em;
  width: 6.5em;
  margin-right: auto;
}

#pop-up-details h3{
  font-size: 1em;
  margin-bottom: .5em;
  text-decoration: underline;
}

#pop-up-product:first-child{
  margin-top: 0em;
}

#pop-up-remove{
  width: 2em;
  height: 2em;
  font-weight: bolder;
  background: none;
  border: 1px solid #384267;
  border-radius: 10px;
  align-self: center;
  margin-right: 3em;
  color: red;
  cursor: pointer;
}

#pop-up-remove:hover{
  background-color: rgba(128, 128, 128, 0.256);
}

#pop-up-checkout{
  margin: 1.5em 0em 2em 0em; 
  font-size: large;
}

#exit-pop-up{
  padding: .7em;
  background-color: whitesmoke;
  border: whitesmoke 4px solid;
  border-radius: 80px;
  cursor: pointer;
  color: black;
  margin: 2em;
  align-self: flex-start;
  cursor: pointer;
  font-weight: bold;
  font-size: 1em;
}

#exit-pop-up:hover{
  background-color: rgb(210, 209, 209);
  border: 4px solid rgb(210, 209, 209);
}

select{
  width: 3em;
  margin-left: .5em;
}

/* media queries */

@media(max-width: 1500px){
  #checkout-menu{
    right: 50px;
  }

  #filter-menu{
    margin-right: 2em;
  }

  #cart-menu{
    height: 55vh;
  }

  /* .product-card{
    height: 30em;
    width: 18em;
  } */

  #product-img img{
    height: 12em;
  }

  #product-page-inner{
    padding: 2em;
    margin: 3em;
  }

  #product-page-details{
    padding: 2em;
  }

  #cart-menu{
    margin-left: 0em;
  }

  .change-image{
    height: 3em;
    width: 3em;
  }

  #shown-image{
    width: 25em;
    height: 25em;
  }

}